/*
 * Navbar
 */

 .navbar-top {
    background: $gray-800;
    color: #fff;
    .navbar-brand {
      padding-top: .75rem;
      padding-bottom: .75rem;
      font-size: 1rem;
      background-color: $gray-900;
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    }
    .sidebar-toggler {
      display: inline-block;
    }
    .navbar-brand {
      display: none;
    }
    .form-search {
      width: 100%;
      .form-control {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;
      }
    }
    @include media-breakpoint-up(md) {
      .sidebar-toggler {
        display: none;
      }
      .navbar-brand {
        display: inline-block;
      }
    }
 }

 .navbar-avatar {
  display: inline-block;
  width: 100%;
  max-width: 40px;
 }

.navbar-nav {
  button.nav-link {
    background: transparent;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


//
// Toggler for navigation
//

.nav-toggler {
  display: block;
  width: 40px;
  padding: 10px;
  font-size: 16px;
  color: $gray-700;
  background: transparent; // remove *all* bg properties
  border: 1px solid #e5e5e5;
  border-radius: $border-radius;

  // Generate the three lines
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-bottom: .125em;
    border-top: .375em double;
    border-bottom: .125em solid;
  }

  &:hover,
  &:focus {
    color: #fff;
    background-color: $gray-700;
  }

  &-sm {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  &-md {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &-lg {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &-xl {
    @include media-breakpoint-up(xl) {
      display: none;
    }
  }
}

.nav-toggleable {
  &-xs {
    @include media-breakpoint-up(xs) {
      display: block !important;
      height: auto !important;
    }
  }
  &-sm {
    @include media-breakpoint-up(sm) {
      display: block !important;
      height: auto !important;
    }
  }
  &-md {
    @include media-breakpoint-up(md) {
      display: block !important;
      height: auto !important;
    }
  }
}
