// Buttons

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: theme-color('primary');
}

.btn-success.btn-outline {
  color: theme-color('success');
}

.btn-info.btn-outline {
  color: theme-color('info');
}

.btn-warning.btn-outline {
  color: theme-color('warning');
}

.btn-danger.btn-outline {
  color: theme-color('danger');
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}

.btn-icon {
  > i {
    margin-right: 10px;
  }
}


.btn-link {
  background: transparent !important;
  border-color: transparent !important;
  &.btn-danger {
    &, &:active {
      color: darken(theme-color('danger'), 10%);
    }
  }
}
